# image_models/.env.sdxl
# MODEL_PATH=/path/to/sdxl.safetensors
# CLIP_L_PATH=/path/to/clip_l.safetensors
# CLIP_G_PATH=/path/to/clip_g.safetensors
# VAE_PATH=/path/to/sdxl_vae.safetensors

# image_models/.env.zimage_turbo
DIFFUSION_MODEL_PATH=/path/to/z_image_turbo.gguf
LLM_PATH=/path/to/qwen3-4b-instruct.gguf
VAE_PATH=/path/to/vae.safetensors

# image_models/.env.qwen_image_edit
DIFFUSION_MODEL_PATH=/path/to/qwen-image-edit.gguf
LLM_PATH=/path/to/qwen2.5-vl.gguf
VAE_PATH=/path/to/qwen_image_vae.safetensors
LLM_VISION_PATH=/path/to/mmproj.gguf
